.dropdown-menu {
    position: relative;
    display: inline-block
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
} it just doesnt work 


h1 {
   display: flex;
   justify-content: center;
   color: brown;
   padding: 10px;
   border: 15px;
}

.footer {
    display: flex;
    content-visibility: auto;
}

#subscription {
    display: auto;
    justify-content: space-around;
}

.img {
    display: flex;
    justify-content: center;    
}

nav {
    display: flex;

}

.section1 {
float: right;
padding: 10px 5px 5px 10px;
border: 20px;
}