
h1 {
   display: flex;
   justify-content: center;
   color: "red";
   padding: 10px;
   border: 15px;
}

.footer {
    display: flex;
}

#subscription {
    display: auto;
    justify-content: space-around;
    margin-left: 25px;
}

.img {
    display: flex;
    justify-content: center;    
}

nav {
    display: flex;

}

body{
    padding: 10px;
}
.section1 {
float: right;
padding: 10px 5px 5px 10px;
border: 20px;
}


.about {
    padding-left: 10px;
    border: 20px;
}

.quotes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

fieldset {
    background-color: azure;
}